# BEGIN WordPress<IfModule mod_rewrite.c>RewriteEngine OnRewriteBase /New_Eltec/web/RewriteRule ^index\.php$ - [L]RewriteCond %{REQUEST_FILENAME} !-fRewriteCond %{REQUEST_FILENAME} !-dRewriteRule . /New_Eltec/web/index.php [L]</IfModule>Options -Indexes# END WordPressphp_value max_execution_time 120